/VRD Controller/JenksVR.VRD/bin
/VRD Controller/JenksVR.VRD/obj
/VRD Controller/VRD Controller/bin
/VRD Controller/VRD Controller/obj
/VRD VR/Build
/VRD VR/Library
/VRD VR/obj
/Installers/Output
/VRD VR/Logs
/VRD VR/.vs/VRD VR/v15/Server
